[Unit]
Description=package-finder for finding package.json packages

[Service]
Type=simple
Environment=ENV=prod
ExecStart=~/dev/golang/package-finder/bin/package-finder

[Install]
WantedBy=multi-user.target

